html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  zoom: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.app {
  max-width: 1600px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.category-btn:hover {
  background-color: #fc1503 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.react-player {
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.category-btn span {
  font-size: 14px;
}

.category-btn span:first-child {
  margin-right: 15px;
}

.skeleton-videos {
  background-color: #1e1e1e;
  box-shadow: 2px 2px 5px 2px #4646464b;
  width: 300px;
}

.skeleton-video {
  background-color: #1e1e1e;
  box-shadow: 2px 2px 5px 2px #4646464b;
  width: 100%;
  height: max-content;
}

.profile-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1250px) {
  .react-player {
    height: 550px !important;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1250px) {
  .react-player {
    height: 450px !important;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .react-player {
    height: 400px !important;
  }
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (min-width: 630px) and (max-width: 900px) {
  .react-player {
    height: 400px !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .search-bar {
    width: 150px;
  }

  .category-btn {
    padding: 3px 7px;
    margin: 5px 2px;
  }

  .category-btn span {
    font-size: 12px;
  }

  .category-btn span:first-child {
    margin-right: 8px;
  }

  .react-player {
    height: 300px !important;
  }

  .skeleton-videos {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .react-player {
    height: 250px !important;
  }
}

.MuiInputLabel-root {
  color: #fff !important;
}

.MuiInputLabel-root {
  color: #d32f2f !important;
}

.MuiInput-root {
  color: #fff !important;
}
